body{
    background-color: #f8efc0;
    line-height: 1.429;
}
.main{
    margin-top: 51px;
    margin-left: 149px;
    margin-right: 149px;
    background-color: #f2dede;
}
.sub{
    float: right;
    margin-bottom: 20px;
}
.media-object{
    width: 53px;
    height: 53px;
}
.textDesc{
    font-size: 12px;

}
.description{
    font-size: 20px;
}
.navbarse{
    padding-right: 106px;
    padding-left: 117px;
    padding-top: 6px;

}

.profile .section{
    margin-top: 15px;
}