<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>nav</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="./js/jQuery.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/community.css">

    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
</head>
<body>

        <div class="foot" th:fragment="foot">
            <hr/>

            <div>合作 | 友情链接 | 友情链接 | 友情链接 | 友情链接</div>
            <div>Copyright © 2088- 3088 twinkle All Rights Reserved</div>
        </div>

</body>
</html>